.App {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--bg-home);
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}
.App .container {
    grid-area: 1 / 1 / 2 / 4;
}
@media (width < 900px){
    .App .container {
        grid-area: 1 / 1 / 2 / 5;
    }
}